.active-nav-item {
  border-bottom: 3px solid #3f51b5;
}

.mat-icon {
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: center;

  button {
    margin-top: 20px;
    margin-right: 20px;
  }

  .mat-icon {
    font-size: 24px;
  }
}

