mat-sidenav {
  width: 200px;
  background-color: #fafafa;
}

mat-sidenav-content {
  background-color: white;
}

.task-title {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.grey-color {
  background-color: #fafafa;
}
