.mat-card {
  min-height: 150px;
  border-radius: 10px;
}

.mat-card-content {
  font-size: 13pt
}

.mat-card-subtitle {
  font-size: 10pt
}

.lightgreen-color {
  background-color: #40FFBE;
}

.lightblue-color {
  background-color: #4081FF;
}

.lightsalmon-color {
  background-color: #FFBE40;
}
