<div class="row">
  <div class="col-md-12 pt-3">
    <mat-card class="text-white lightgreen-color">
      <mat-card-subtitle class="text-white">8.05 AM - 9.20 AM</mat-card-subtitle>
      <mat-card-content>Meeting with potential client</mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 pt-3">
    <mat-card class="text-white lightblue-color">
      <mat-card-subtitle class="text-white">8.05 AM - 9.20 AM</mat-card-subtitle>
      <mat-card-content>Meeting with potential client</mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-12 pt-3">
    <mat-card class="text-white lightsalmon-color">
      <mat-card-subtitle class="text-white">8.05 AM - 9.20 AM</mat-card-subtitle>
      <mat-card-content>Meeting with potential client</mat-card-content>
    </mat-card>
  </div>
</div>
